
@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,600);
@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,300,700&subset=greek,latin);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=latin,greek);

@import "timeline";

$font_family: 'Work Sans', 'Roboto', sans-serif;

@mixin clickable {
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin box-shadow ($shadows...) {
	-webkit-box-shadow: $shadows;
	-moz-box-shadow: $shadows;
	box-shadow: $shadows;
}

@mixin keyframes ($animation_name) {
	@-webkit-keyframes #{$animation_name} {@content;}
	@-moz-keyframes #{$animation_name} {@content;}
	@-ms-keyframes #{$animation_name} {@content;}
	@-o-keyframes #{$animation_name} {@content;}
	@keyframes #{$animation_name} {@content;}
}

@mixin animation ($animations...) {
	-webkit-animation: $animations;
 	-moz-animation:    $animations;
 	-o-animation:      $animations;
 	animation:         $animations;
}

@mixin photo-gradient ($base_color) {
	background: rgba($base_color, 0.0); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, rgba($base_color,0.0) 0%, rgba($base_color,0.0) 50%, rgba($base_color,0.5) 80%, rgba($base_color,0.75) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba($base_color,0.0)), color-stop(50%, rgba($base_color,0.0)), color-stop(80%, rgba($base_color,0.5)), color-stop(100%, rgba($base_color,0.75))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, rgba($base_color,0.0) 0%, rgba($base_color,0.0) 50%, rgba($base_color,0.5) 80%, rgba($base_color,0.75) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, rgba($base_color,0.0) 0%, rgba($base_color,0.0) 50%, rgba($base_color,0.5) 80%, rgba($base_color,0.75) 100%); /* Opera 11.10+ */
	background: -ms-radial-gradient(center, ellipse cover, rgba($base_color,0.0) 0%, rgba($base_color,0.0) 50%, rgba($base_color,0.5) 80%, rgba($base_color,0.75) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, rgba($base_color,0.0) 0%, rgba($base_color,0.0) 50%, rgba($base_color,0.5) 80%, rgba($base_color,0.75) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='ie-hex-str($base_color)', endColorstr='ie-hex-str($base_color)', GradientType=1 ); /* IE6-9 */
}

@mixin placeholder-icon {
	&::-webkit-input-placeholder::before {@content}
	&:-moz-placeholder::before           {@content}
	&::-moz-placeholder::before          {@content}
	&:-ms-input-placeholder::before      {@content}  
}

html,body {
	margin: 0;
	padding: 0;
}

.static-title-bar {
	position: fixed;
	top: 0;
	display: none;
	z-index: 20;
	width: 100%;
	height: 40px;
	background-color: rgba(#0f1a24, 0.80);
	.brand {
		display: inline-block;
		height: 30px;
		width: 40%;
		text-align: right;
		vertical-align: middle;
		@media screen and (max-width: 690px) {
			width: 30%;
		}
		.brand-logo {
			@media screen and (min-width: 691px) {
				height: inherit;
			}
			@media screen and (max-width: 690px) {
				width: 120px;
				padding: 5px 0;
			}
		}
	}

	.menu {
		display: inline-block;
		margin-left: 50px;
		height: 100%;
		@media screen and (max-width: 690px) {
			margin-left: 1em;
		}
		.menu-item {
			height: 100%;
			padding: 0 8px;
			display: inline-block;
			vertical-align: middle;
			text-decoration: inherit;
			@media screen and (max-width: 690px) {
				padding: 0 4px;
			}
			.menu-label {
				font: 200 18px/40px $font_family;
				color: #ffffff;
				vertical-align: middle;
				@media screen and (max-width: 690px) {
					font: 200 15px/40px $font_family;
				}
			}
			&:hover {
				background-color: #4479ac;
			}
		}
		.menu-item-lang {
			@include clickable;
			margin-left: 30px;
			@media screen and (max-width: 690px) {
				margin-left: 10px;
			}
			.i18n-menu {
				display: none;
				position: absolute;
				top: 56px;
				margin-left: -130px;
				background-color: rgba(#0f1a24, 0.80);
				border-radius: 20px;
				padding: 12px 24px;
				@media screen and (max-width: 900px) {
					width: 84px;
					margin-left: -54px;
				}
				@media screen and (max-width: 690px) {
					margin-left: 0px;
					width: 100%;
					left: 0;
					top: 40px;
					border-radius: 0;
					border-top: 1px solid rgba(#0f1a24, 0.20);
					text-align: center;
					padding: 12px 0;
				}
				.language-picker {
					padding: 0;
					margin: 0;
					.language-item {
						margin-left: 20px;
						list-style: none;
						display: inline-block;
						font: 100 12px/20px 'Comfortaa', sans-serif;
						color: #ffffff;
						@include clickable;
						@media screen and (max-width: 900px) and (min-width: 691px){
							margin-left: 0;
						}
						&:first-child {
							margin-left: 0;
						}
						&:hover:not(.picked-lang) {
							border-bottom: solid 1px;
							margin-bottom: -1px;
						}
						&.picked-lang {
							font: 400 16px/20px 'Comfortaa', sans-serif;
							cursor: default;
						} 
					}
				}
				&:before {
					content: '';
					position: absolute;
					top: -16px;
					left: 50%;
					margin-left: -8px;
					width: 0; 
					height: 0; 
					border-left: 16px solid transparent;
					border-right: 16px solid transparent;
					border-bottom: 16px solid rgba(#0f1a24, 0.80);
					@media screen and (max-width: 900px) {
						margin-left: -15px;
					}
					@media screen and (max-width: 690px) {
						display: none;
					}
				}
			}
		}
	}
}

.intro-section {
	height: 100vh;
	background-position: center top;
	background-repeat: no-repeat;
	@media screen and (max-width: 1920px) {
		background-image: url('../images/lisbon_sunset_01.jpg');
	}
	@media screen and (min-width: 1921px) {
		background-image: url('../images/lisbon_sunset_02.jpg');
	}

	.i18n-bar {
		height: 20px;
		max-width: 1440px;
		margin: 0 auto;
		position: relative;
		top: 20px;
		.language-picker {
			padding: 0;
			margin: 0 0 0 50%;
			@media screen and (max-width: 690px) {
				margin: 0 0 0 40%;
			}
			.language-item {
				margin-left: 20px;
				list-style: none;
				display: inline-block;
				font: 100 12px/20px 'Comfortaa', sans-serif;
				color: #ffffff;
				@include clickable;
				&:first-child {
					margin-left: 0;
				}
				&:hover:not(.picked-lang) {
					border-bottom: solid 1px;
				}
				&.picked-lang {
					font: 400 16px/20px 'Comfortaa', sans-serif;
					cursor: default;
				} 
			}
		}
	}

	.title-bar {
		height: 100px;
		max-width: 1440px;
		margin: 0 auto;
		position: relative;
		top: 20px;
		.brand {
			@media screen and (min-width: 1367px) {
				display: inline-block;
			}
			@media screen and (max-width: 1366px) {
				display: block;
			}
			margin: 0 50px;
			@media screen and (max-width: 690px) {
				margin: 0;
			}
			height: 100px;
			text-align: center;
			vertical-align: middle;
			.brand-logo {
				@media screen and (min-width: 691px) {
					height: inherit;
				}
				@media screen and (max-width: 690px) {
					padding-top: 13px;
					width: 380px;
				}
			}
		}

		.menu {
			@media screen and (min-width: 1367px) {
				display: inline-block;
			}
			@media screen and (max-width: 1366px) {
				display: block;
				text-align: center;
			}
			.menu-item {
				display: inline-block;
				border: 1px solid #ffffff;
				margin: 16px;
				padding: 12px 24px;
				@media screen and (max-width: 690px) {
					padding: 9px 18px;
					margin: 6px;
				}
				vertical-align: middle;
				text-decoration: inherit;
				.menu-label {
					font: 100 24px/24px $font_family;
					color: #ffffff;
					vertical-align: middle;
					@media screen and (max-width: 690px) {
						font: 100 18px/18px $font_family;
					}
				}
				&:hover {
					background-color: #fafafa;
					.menu-label {
						color: #4479ac;
					}
				}
			}
		}
	}

	.welcome-section {
		max-width: 1000px;
		position: absolute;
		bottom: 20%;
		left: 50%;
		margin-left: -500px;
		@media screen and (max-width: 900px) {
			width: 100%;
			bottom: 0;
			left: 0;
			margin: 0;
		}
		.welcome-area {
			width: 100%;
			min-height: 200px;
			margin: 0 auto;
			background-color: rgba(0,0,0,0.6);
		}
		.photo-area {
			display: inline-block;
			@media screen and (max-width: 900px) {
				display: block;
				margin: 0 auto;
				padding-top: 1em;
			}
			width: 25%;
			vertical-align: middle;
			.photo {
				margin: auto auto;
				background-image: url('../images/diogo.jpg');
				background-repeat: no-repeat;
				background-size: 110% 110%;
				background-position: center;
				width: 100px;
				height: 100px;
				border-radius: 50px;
				@include box-shadow(0px 0px 5px 0px rgba(0,0,0,0.65));
				.photo-frame {
					height: inherit;
					border-radius: inherit;
					@include photo-gradient(#000000);
				}
			}
		}
		.message-area{
			display: inline-block;
			width: 70%;
			vertical-align: middle;
			margin: 25px 0;
			@media screen and (max-width: 900px) {
				display: block;
				width: 90%;
				text-align: left;
				margin: 0 auto;
				padding: 25px 0;
			}
			.quotes{
				display: inline-block;
				font-style: italic;
				font-size: 36px;
				color: #ffffff;
				vertical-align: middle;
				margin-right: 10px;
				@media screen and (max-width: 690px) {
					font-size: 24px;
				}
			}
			.welcome-message {
				display: inline;
				font: italic 300 18px/28px $font_family;
				color: #ffffff;
				vertical-align: bottom;
				@media screen and (max-width: 690px) {
					font: italic 300 16px/22px $font_family;
				}
			}
		}
	}
}

@include timeline;

.contacts-area {
	height:800px;
	//Google Maps styling
	#contacts-map {
		height:800px;
		width: 100%;
	}
	.gm-style-iw * {
		display: block;
		width: 100%;
	}
	.gm-style-iw h4, .gm-style-iw p {
		margin: 0;
		padding: 0;
	}
	.gm-style-iw a {
		color: #4272db;
	}
	.contacts-window {
		position: relative;
		top: -650px;
		left: 50%;
		margin-left: -400px;
		width: 400px;
		display: block;
		border: solid 1px #e6e6e6;
		border-radius: 2px;
		background-color: rgba(250,250,250,0.9);
		overflow: hidden;
		@media screen and (max-width: 800px) {
			margin-left: -200px;
		}

		.contacts-menu {
			ul {
				margin: 0 auto 32px auto;
				list-style-type: none;
				padding: 0;
				text-align: center;
				vertical-align: middle;
				li {
					@include clickable;
					display: inline-block;
					font-size: 24px;
					line-height: 30px;
					width: 30px;
					height: 30px;
					padding: 20px;
					color: #656565;
					border-bottom: solid 6px lighten(#656565, 25%);
					margin: 0 -2px;
					
					&.active {
						border-bottom: solid 6px #4479ac;
						background-color: #ffffff;
						color: darken(#4479ac, 10%);
						&:hover {
							border-bottom: solid 6px #4479ac;
							color: darken(#4479ac, 10%);
						}
					}

					&:hover {
						border-bottom: solid 6px #656565;
						background-color: #ffffff;
						color: darken(#656565, 10%);

					}
				}
			}
		}
		.contacts-panel {
			width: 1200px;
			.contacts-profile {
				width: 400px;
				display: inline-block;
				vertical-align: top;
				font: 500 16px $font_family;
				color: #656565;
				padding: 50px 100px;
				box-sizing: border-box;
				.profile-entry{
					margin-bottom: 10px;
					p {
						margin: 0 auto;
					}
				}
				#profile-name {
					font: 600 16px $font_family;
				}
				#profile-address{
					&:before {
						font-family: 'entypo';
						content: '\e954';
						margin-left: -26px;
						margin-right: 9px;
						vertical-align: middle;
					}
				}
				#profile-mobile{
					&:before {
						font-family: 'entypo';
						content: '\ea2b';
						margin-left: -26px;
						margin-right: 10px;
						vertical-align: middle;
					}
				}
				#profile-skype{
					&:before {
						font-family: 'FontAwesome';
						content: '\f17e';
						margin-left: -25px;
						margin-right: 13px;
						vertical-align: middle;
					}
				}
				#profile-gmail{
					i {
						vertical-align: middle;
					}
					&:before {
						font-family: 'FontAwesome';
						content: '\f0d5';
						margin-left: -26px;
						margin-right: 8px;
						vertical-align: middle;
					}
				}
			}
			.contacts-email {
				width: 400px;
				display: inline-block;
				#contact-form {
					display: inline-block;
					padding: 20px;
					.contact-message {
						font: 500 16px $font_family;
						margin-bottom: 10px;
						color: #656565;
					}
					.contact-textfield {
						display: inline-block;
						font: 400 12px $font_family;
						margin-bottom: 8px;
						width: 100%;
						height: 30px;
						border: solid 1px #e0e0e0;
						box-sizing: border-box;
						padding: 0 12px;
					}
					.name-textfield {
						@extend .contact-textfield;
						@include placeholder-icon {
							font-family: 'entypo';
							content: '\ea91';
							margin-right: 6px;
						}
					}
					.email-textfield {
						@extend .contact-textfield;
						@include placeholder-icon {
							font-family: 'entypo';
							content: '\e9d5';
							margin-right: 6px;
						}
					}
					.subject-textfield {
						@extend .contact-textfield;
						@include placeholder-icon {
							font-family: 'entypo';
							content: '\e97d';
							margin-right: 6px;
						}
					}
					.contact-textarea {
						display: inline-block;
						font: 400 12px $font_family;
						margin-bottom: 10px;
						width: 100%;
						resize: none;
						border: solid 1px #e0e0e0;
						box-sizing: border-box;
						padding: 12px;
						@include placeholder-icon {
							font-family: 'entypo';
							content: '\ea3e';
							margin-right: 6px;
						}
					}
					.contact-submit {
						font: 300 14px/18px $font_family;
						color: darken(#ffffff, 10%);
						background-color: lighten(#4479ac, 10%);
						border: none;
						padding: 6px 12px;
						float: right;
						@include clickable;
						&:hover {
							background-color: #4479ac;
							color: #ffffff;
						}
					}
				}
			}
			.contacts-social-media {
				width:400px;
				display: inline-block;
				vertical-align: top;
				.social-media-wrapper {
					width: 100%;
					height: 100%;
					padding: 0 50px;
					box-sizing: border-box;
					.social-media-button {
						@include clickable;
						width: 80px;
						height: 80px;
						margin: 10px;
						display:inline-block;
						font-size: 32px;
						line-height: 80px;
						text-align: center;
						background-color: #ffffff;
						color: darken(#4479ac, 10%);
						@include box-shadow(0px 0px 2px 0px darken(#4479ac, 10%) inset);
						&:hover {
							background-color: darken(#4479ac, 10%);
							color: #ffffff;
							border-radius: 40px;
							@include keyframes('roundify') {
								from {border-radius: 0px;}
								to {border-radius: 40px;}
							}
							@include keyframes('pulse') {
								0% {width:80px;height:80px;margin:10px;line-height: 80px;background-color: darken(#4479ac, 10%)}
								60% {width:70px;height:70px;margin:15px;line-height: 70px;background-color: lighten(#4479ac, 10%)}
								100% {width:80px;height:80px;margin:10px;line-height: 80px;background-color: darken(#4479ac, 10%)}
							}
							@include animation(roundify ease-out 300ms, pulse ease-in 500ms);
						}
					}
				}
			}
		}
	}
}
