
@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,600);
@import url(https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);

@import "timeline";

$font_family: 'Work Sans', sans-serif;

@mixin clickable {
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin box-shadow ($shadows...) {
	-webkit-box-shadow: $shadows;
	-moz-box-shadow: $shadows;
	box-shadow: $shadows;
}

@mixin photo-gradient ($base_color) {
	background: rgba($base_color, 0.0); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, rgba($base_color,0.0) 0%, rgba($base_color,0.0) 50%, rgba($base_color,0.5) 80%, rgba($base_color,0.75) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba($base_color,0.0)), color-stop(50%, rgba($base_color,0.0)), color-stop(80%, rgba($base_color,0.5)), color-stop(100%, rgba($base_color,0.75))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, rgba($base_color,0.0) 0%, rgba($base_color,0.0) 50%, rgba($base_color,0.5) 80%, rgba($base_color,0.75) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, rgba($base_color,0.0) 0%, rgba($base_color,0.0) 50%, rgba($base_color,0.5) 80%, rgba($base_color,0.75) 100%); /* Opera 11.10+ */
	background: -ms-radial-gradient(center, ellipse cover, rgba($base_color,0.0) 0%, rgba($base_color,0.0) 50%, rgba($base_color,0.5) 80%, rgba($base_color,0.75) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, rgba($base_color,0.0) 0%, rgba($base_color,0.0) 50%, rgba($base_color,0.5) 80%, rgba($base_color,0.75) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='ie-hex-str($base_color)', endColorstr='ie-hex-str($base_color)', GradientType=1 ); /* IE6-9 */
}

@mixin placeholder-icon {
	&::-webkit-input-placeholder::before {@content}
	&:-moz-placeholder::before           {@content}
	&::-moz-placeholder::before          {@content}
	&:-ms-input-placeholder::before      {@content}  
}

html,body {
	margin: 0;
	padding: 0;
}

.intro-section {
	height: 1200px;
	background-image: url('../images/lisbon_sunset_01.jpg');
	background-position: center top;
	background-repeat: no-repeat;
	//background-size: 100%; //to apply to larger displays with media queries

	.title-bar {
		height: 100px;
		width: 1440px;
		margin: 0 auto;
		position: relative;
		top: 100px;
		.brand {
			display: inline-block;
			margin: 0 50px;
			height: 100px;
			text-align: center;
			vertical-align: middle;
			.brand-logo {
				height: inherit;
			}
		}

		.menu {
			display: inline-block;
			margin-left: 100px;
			.menu-item {
				border: 1px solid #ffffff;
				margin: 16px;
				padding: 12px 24px;
				vertical-align: middle;
				text-decoration: inherit;
				.menu-label {
					font: 100 24px/24px $font_family;
					color: #ffffff;
					vertical-align: middle;
				}
				&:hover {
					background-color: #fafafa;
					.menu-label {
						color: #4d7da3;
					}
				}
			}
		}
	}

	.welcome-section {
		margin-top: 650px;
		.welcome-area {
			width: 1000px;
			min-height: 200px;
			margin: 0 auto;
			background-color: rgba(0,0,0,0.6);
		}
		.photo-area {
			display: inline-block;
			width: 25%;
			vertical-align: middle;
			.photo {
				margin: auto auto;
				background-image: url('../images/diogo.jpg');
				background-repeat: no-repeat;
				background-size: 110% 110%;
				background-position: center;
				width: 100px;
				height: 100px;
				border-radius: 50px;
				@include box-shadow(0px 0px 5px 0px rgba(0,0,0,0.65));
				.photo-frame {
					height: inherit;
					border-radius: inherit;
					@include photo-gradient(#000000);
				}
			}
		}
		.message-area{
			display: inline-block;
			width: 70%;
			vertical-align: middle;
			margin: 25px 0;
			.quotes{
				display: inline-block;
				font-style: italic;
				font-size: 36px;
				color: #ffffff;
				vertical-align: middle;
				margin-right: 10px;
			}
			.welcome-message {
				display: inline;
				font: italic 300 18px/28px $font_family;
				color: #ffffff;
				vertical-align: bottom;
			}
		}
	}
}

@include timeline;

.contacts-area {
	height:800px;
	//Google Maps styling
	#contacts-map {
		height:800px;
		width: 100%;
	}
	.gm-style-iw * {
		display: block;
		width: 100%;
	}
	.gm-style-iw h4, .gm-style-iw p {
		margin: 0;
		padding: 0;
	}
	.gm-style-iw a {
		color: #4272db;
	}
	.contacts-window {
		position: relative;
		top: -650px;
		left: 50%;
		margin-left: -400px;
		width: 400px;
		display: block;
		border: solid 1px #e6e6e6;
		border-radius: 2px;
		background-color: rgba(250,250,250,0.9);
		overflow: hidden;

		.contacts-menu {
			ul {
				margin: 0 auto 32px auto;
				list-style-type: none;
				padding: 0;
				text-align: center;
				vertical-align: middle;
				li {
					@include clickable;
					display: inline-block;
					font-size: 24px;
					line-height: 30px;
					width: 30px;
					height: 30px;
					padding: 20px;
					color: #656565;
					border-bottom: solid 6px lighten(#656565, 25%);
					margin: 0 -2px;
					
					&.active {
						border-bottom: solid 6px #4479ac;
						background-color: #ffffff;
						color: darken(#4479ac, 10%);
						&:hover {
							border-bottom: solid 6px #4479ac;
							color: darken(#4479ac, 10%);
						}
					}

					&:hover {
						border-bottom: solid 6px #656565;
						background-color: #ffffff;
						color: darken(#656565, 10%);

					}
				}
			}
		}
		.contacts-panel {
			width: 1200px;
			.contacts-profile {
				width: 400px;
				display: inline-block;
				vertical-align: top;
				font: 500 16px $font_family;
				color: #656565;
				padding: 50px 100px;
				box-sizing: border-box;
				.profile-entry{
					margin-bottom: 10px;
					p {
						margin: 0 auto;
					}
				}
				#profile-name {
					font: 600 16px $font_family;
				}
				#profile-address{
					&:before {
						font-family: 'entypo';
						content: '\e954';
						margin-left: -26px;
						margin-right: 9px;
						vertical-align: middle;
					}
				}
				#profile-mobile{
					&:before {
						font-family: 'entypo';
						content: '\ea2b';
						margin-left: -26px;
						margin-right: 10px;
						vertical-align: middle;
					}
				}
				#profile-skype{
					&:before {
						font-family: 'FontAwesome';
						content: '\f17e';
						margin-left: -25px;
						margin-right: 13px;
						vertical-align: middle;
					}
				}
				#profile-gmail{
					i {
						vertical-align: middle;
					}
					&:before {
						font-family: 'FontAwesome';
						content: '\f0d5';
						margin-left: -26px;
						margin-right: 8px;
						vertical-align: middle;
					}
				}
			}
			.contacts-email {
				width: 400px;
				display: inline-block;
				#contact-form {
					display: inline-block;
					padding: 20px;
					.contact-message {
						font: 500 16px $font_family;
						margin-bottom: 10px;
						color: #656565;
					}
					.contact-textfield {
						display: inline-block;
						font: 400 12px $font_family;
						margin-bottom: 8px;
						width: 100%;
						height: 30px;
						border: solid 1px #e0e0e0;
						box-sizing: border-box;
						padding: 0 12px;
					}
					.name-textfield {
						@extend .contact-textfield;
						@include placeholder-icon {
							font-family: 'entypo';
							content: '\ea91';
							margin-right: 6px;
						}
					}
					.email-textfield {
						@extend .contact-textfield;
						@include placeholder-icon {
							font-family: 'entypo';
							content: '\e9d5';
							margin-right: 6px;
						}
					}
					.subject-textfield {
						@extend .contact-textfield;
						@include placeholder-icon {
							font-family: 'entypo';
							content: '\e97d';
							margin-right: 6px;
						}
					}
					.contact-textarea {
						display: inline-block;
						font: 400 12px $font_family;
						margin-bottom: 10px;
						width: 100%;
						resize: none;
						border: solid 1px #e0e0e0;
						box-sizing: border-box;
						padding: 12px;
						@include placeholder-icon {
							font-family: 'entypo';
							content: '\ea3e';
							margin-right: 6px;
						}
					}
					.contact-submit {
						font: 300 14px/18px $font_family;
						color: darken(#ffffff, 10%);
						background-color: lighten(#4479ac, 10%);
						border: none;
						padding: 6px 12px;
						float: right;
						@include clickable;
						&:hover {
							background-color: #4479ac;
							color: #ffffff;
						}
					}
				}
			}
			.contacts-social-media {
				width:400px;
				display: inline-block;
				vertical-align: top;
				.social-media-wrapper {
					width: 100%;
					height: 100%;
					padding: 0 50px;
					box-sizing: border-box;
					.social-media-button {
						@include clickable;
						width: 80px;
						height: 80px;
						margin: 10px;
						display:inline-block;
						font-size: 32px;
						line-height: 80px;
						text-align: center;
						background-color: #ffffff;
						color: darken(#4479ac, 10%);
						@include box-shadow(0px 0px 2px 0px darken(#4479ac, 10%) inset);
						&:hover {
							background-color: darken(#4479ac, 10%);
							color: #ffffff;
						}
					}
				}
			}
		}
	}
}
	
