
@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,300,700&subset=greek,latin);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,200italic,300,300italic,400italic,500,600,700,800,900);

@import "timeline";

$font_family: 'Raleway', 'Comfortaa', sans-serif;

@mixin clickable {
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin box-shadow ($shadows...) {
	-webkit-box-shadow: $shadows;
	-moz-box-shadow: $shadows;
	box-shadow: $shadows;
}

@mixin keyframes ($animation_name) {
	@-webkit-keyframes #{$animation_name} {@content;}
	@-moz-keyframes #{$animation_name} {@content;}
	@-ms-keyframes #{$animation_name} {@content;}
	@-o-keyframes #{$animation_name} {@content;}
	@keyframes #{$animation_name} {@content;}
}

@mixin animation ($animations...) {
	-webkit-animation: $animations;
 	-moz-animation:    $animations;
 	-o-animation:      $animations;
 	animation:         $animations;
}

@mixin transition ($transitions...) {
	-webkit-transition: $transitions;
	-moz-transition:    $transitions;
	-o-transition:      $transitions;
	transition:         $transitions;
}

@mixin photo-gradient ($base_color) {
	background: rgba($base_color, 0.0); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, rgba($base_color,0.0) 0%, rgba($base_color,0.0) 50%, rgba($base_color,0.5) 80%, rgba($base_color,0.75) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba($base_color,0.0)), color-stop(50%, rgba($base_color,0.0)), color-stop(80%, rgba($base_color,0.5)), color-stop(100%, rgba($base_color,0.75))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, rgba($base_color,0.0) 0%, rgba($base_color,0.0) 50%, rgba($base_color,0.5) 80%, rgba($base_color,0.75) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, rgba($base_color,0.0) 0%, rgba($base_color,0.0) 50%, rgba($base_color,0.5) 80%, rgba($base_color,0.75) 100%); /* Opera 11.10+ */
	background: -ms-radial-gradient(center, ellipse cover, rgba($base_color,0.0) 0%, rgba($base_color,0.0) 50%, rgba($base_color,0.5) 80%, rgba($base_color,0.75) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, rgba($base_color,0.0) 0%, rgba($base_color,0.0) 50%, rgba($base_color,0.5) 80%, rgba($base_color,0.75) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='ie-hex-str($base_color)', endColorstr='ie-hex-str($base_color)', GradientType=1 ); /* IE6-9 */
}

@mixin placeholder-icon {
	&::-webkit-input-placeholder::before {@content}
	&:-moz-placeholder::before           {@content}
	&::-moz-placeholder::before          {@content}
	&:-ms-input-placeholder::before      {@content}  
}

@mixin desktop {
	@media screen and (min-width: 1367px) {
		@content
	}
}

@mixin laptop {
	@media screen and (min-width: 901px) and (max-width: 1366px) {
		@content
	}
}

@mixin tablet {
	@media screen and (min-width: 481px) and (max-width: 900px) {
		@content
	}
}

@mixin mobile {
	@media screen and (max-width: 480px) {
		@content
	}
}

@mixin squeezed {
	@media screen and (max-height: 479px) {
		@content
	}
}


html,body {
	margin: 0;
	padding: 0;
}

.static-title-bar {
	position: fixed;
	top: 0;
	display: none;
	z-index: 20;
	width: 100%;
	height: 40px;
	background-color: rgba(#0f1a24, 0.80);
	.brand {
		display: inline-block;
		height: 30px;
		width: 30%;
		text-align: right;
		vertical-align: middle;
		@include desktop {
			width: 40%;
		}
		@include laptop {
			width: 40%;
		}
		.brand-logo {
			height: inherit;
			@include tablet {
				height: 20px;
				padding: 5px 0;
			}
			@include mobile {
				height: 16px;
				padding: 7px 0;
			}
		}
	}

	.menu {
		display: inline-block;
		margin-left: 50px;
		height: 100%;
		@include tablet {
			margin-left: 1em;
		}
		@include mobile {
			margin-left: 1em;
		}
		.menu-item {
			height: 100%;
			padding: 0 8px;
			display: inline-block;
			vertical-align: middle;
			text-decoration: inherit;
			@include tablet {
				padding: 0 4px;
			}
			@include mobile {
				padding: 0 4px;
			}
			.menu-label {
				font: 200 18px/40px $font_family;
				color: #ffffff;
				vertical-align: middle;
				@include tablet {
					font: 200 15px/40px $font_family;
				}
				@include mobile {
					font: 300 10px/40px $font_family;
				}
			}
			&:hover {
				background-color: #4479ac;
			}
		}
		.menu-item-lang {
			@include clickable;
			margin-left: 30px;
			@include tablet {
				margin-left: 10px;
			}
			@include mobile {
				margin-left: 10px;
			}
			.i18n-menu {
				display: none;
				position: absolute;
				top: 56px;
				margin-left: -130px;
				background-color: rgba(#0f1a24, 0.80);
				border-radius: 20px;
				padding: 12px 24px;
				@include tablet {
					width: 84px;
					margin-left: -58px;
				}
				@include mobile {
					margin-left: 0px;
					width: 100%;
					left: 0;
					top: 40px;
					border-radius: 0;
					border-top: 1px solid rgba(#0f1a24, 0.20);
					text-align: center;
					padding: 8px 0;
				}
				.language-picker {
					padding: 0;
					margin: 0;
					.language-item {
						margin-left: 20px;
						list-style: none;
						display: inline-block;
						font: 100 12px/20px 'Comfortaa', sans-serif;
						color: #ffffff;
						@include clickable;
						@include tablet {
							margin-left: 0;
							padding: 2px 0;
							font: 100 11px/20px 'Comfortaa', sans-serif;
						}
						@include mobile {
							font: 100 8px/12px 'Comfortaa', sans-serif;
						}
						&:first-child {
							margin-left: 0;
						}
						&:hover:not(.picked-lang) {
							border-bottom: solid 1px;
							margin-bottom: -1px;
						}
						&.picked-lang {
							font: 400 16px/20px 'Comfortaa', sans-serif;
							cursor: default;
							@include tablet {
								font: 100 14px/20px 'Comfortaa', sans-serif;
							}
							@include mobile {
								font: 100 11px/12px 'Comfortaa', sans-serif;
							}
						} 
					}
				}
				&:before {
					content: '';
					position: absolute;
					top: -16px;
					left: 50%;
					margin-left: -8px;
					width: 0; 
					height: 0; 
					border-left: 16px solid transparent;
					border-right: 16px solid transparent;
					border-bottom: 16px solid rgba(#0f1a24, 0.80);
					@include tablet {
						margin-left: -15px;
					}
					@include mobile {
						display: none;
					}
				}
			}
		}
	}
}

.intro-section {
	height:100vh;
	min-height: 480px;
	background-position: center top;
	background-repeat: no-repeat;
	background-image: url('../images/lisbon_sunset_01.jpg');
	@media screen and (min-height: 1210px) {
		background-size: auto 100%;
	}
	@include desktop {
		background-image: url('../images/lisbon_sunset_02.jpg');
		background-position: center center;
	}
	@include mobile {
		background-size: auto 100%;
	}
	@include squeezed {
		background-size: 100% 100%;
	}

	.intro-section-filter {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.4);
		@include desktop {
			background-color: rgba(0,0,0,0.6);
		}
	}

	.i18n-bar {
		height: 20px;
		max-width: 1440px;
		margin: 0 auto;
		position: relative;
		top: 20px;
		.language-picker {
			margin: 0 0 0 50%;
			padding: 0 0 0 20px;
			@include mobile {
				margin: 0;
				float: right;
			}
			@include squeezed {
				margin: 0;
				float: right;
			}
			.language-item {
				margin-left: 20px;
				list-style: none;
				display: inline-block;
				font: 100 12px/20px 'Comfortaa', sans-serif;
				color: #ffffff;
				@include clickable;
				@include mobile {
					font: 100 8px/14px 'Comfortaa', sans-serif;
					margin: 0 10px 0 0;
				}
				@include squeezed {
					font: 100 8px/14px 'Comfortaa', sans-serif;
					margin: 0 10px 0 0;
				}
				&:first-child {
					margin-left: 0;
				}
				&:hover:not(.picked-lang) {
					border-bottom: solid 1px;
				}
				&.picked-lang {
					font: 400 16px/20px 'Comfortaa', sans-serif;
					cursor: default;
					@include mobile {
						font: 400 9px/14px 'Comfortaa', sans-serif;
					}
					@include squeezed {
						font: 400 9px/14px 'Comfortaa', sans-serif;
					}
				} 
			}
		}
	}

	.title-bar {
		height: 100px;
		max-width: 1440px;
		margin: 0 auto;
		position: relative;
		top: 20px;
		.brand {
			display: block;
			margin: 0 50px;
			@include desktop {
				display: inline-block;
				width: 50%;
				margin: 0;
			}
			@include mobile {
				margin: 0;
				height: 60px;
			}
			@include squeezed {
				margin: 0;
				height: 60px;
			}
			height: 100px;
			text-align: center;
			vertical-align: middle;
			.brand-logo {
				height: 80px;
				margin: 10px 0;
				@include tablet {
					height: 60px;
					margin: 20px 0;
				}
				@include mobile {
					height: 40px;
					margin: 10px 0;
				}
				@include squeezed {
					height: 40px;
					margin: 10px 0;
				}
			}
		}

		.menu {
			display: block;
			text-align: center;
			@include desktop {
				display: inline-block;
				text-align: left;
			}
			.menu-item {
				display: inline-block;
				border: 0.1rem solid #ffffff;
				margin: 16px;
				padding: 12px 24px;
				@include tablet {
					padding: 9px 18px;
					margin: 6px;
				}
				@include mobile {
					padding: 3px 9px;
					margin: 3px;
				}
				@include squeezed {
					padding: 3px 9px;
					margin: 3px;
				}
				vertical-align: middle;
				text-decoration: inherit;
				.menu-label {
					font: 200 24px/24px $font_family;
					color: #ffffff;
					vertical-align: middle;
					@include tablet {
						font: 200 18px/18px $font_family;
					}
					@include mobile {
						font: 300 13px/20px $font_family;
					}
					@include squeezed {
						font: 300 13px/20px $font_family;
					}
				}
				&:hover {
					background-color: #fafafa;
					.menu-label {
						color: #4479ac;
					}
				}
			}
		}
	}

	.welcome-section {
		max-width: 1000px;
		position: absolute;
		bottom: 8%;
		left: 50%;
		margin-left: -500px;
		@include laptop {
			max-width: 900px;
			margin-left: -450px;
		}
		@include tablet {
			width: 100%;
			bottom: 0;
			left: 0;
			margin: 0;
		}
		@include mobile {
			width: 100%;
			bottom: 0;
			left: 0;
			margin: 0;
		}
		@include squeezed {
			position: relative;
			bottom: 0;
			margin-top: 100px
		}
		.welcome-area {
			width: 100%;
			margin: 0 auto;
			background-color: rgba(0,0,0,0.6);
		}
		.photo-area {
			display: inline-block;
			@include tablet {
				display: block;
				margin: 0 auto;
				padding-top: 1em;
			}
			@include mobile {
				display: block;
				margin: 0 auto;
				padding-top: 1em;
			}
			@include squeezed {
				display: block;
				margin: 0 auto;
				padding-top: 1em;
			}
			width: 25%;
			vertical-align: middle;
			.photo {
				margin: auto auto;
				background-image: url('../images/diogo.jpg');
				background-repeat: no-repeat;
				background-size: 105% 105%;
				background-position: center;
				width: 80px;
				height: 80px;
				border-radius: 40px;
				@include box-shadow(0px 0px 5px 0px rgba(0,0,0,0.65));
				@include mobile {
					width: 40px;
					height: 40px;
					border-radius: 20px;
				}
				@include squeezed {
					width: 40px;
					height: 40px;
					border-radius: 20px;
				}
				.photo-frame {
					height: inherit;
					border-radius: inherit;
					@include photo-gradient(#000000);
				}
			}
		}
		.message-area{
			display: inline-block;
			width: 70%;
			vertical-align: middle;
			margin: 25px 0;
			@include tablet {
				display: block;
				width: 90%;
				text-align: left;
				margin: 0 auto;
				padding: 25px 0;
			}
			@include mobile {
				display: block;
				width: 90%;
				text-align: left;
				margin: 0 auto;
				padding: 15px 0;
			}
			@include squeezed {
				display: block;
				width: 90%;
				text-align: left;
				margin: 0 auto;
				padding: 15px 0;
			}
			.quotes{
				display: inline-block;
				font-style: italic;
				font-size: 26px;
				color: #ffffff;
				vertical-align: middle;
				margin-right: 10px;
				@include mobile {
					font-size: 20px;
				}
				@include squeezed {
					font-size: 20px;
				}
			}
			.welcome-message {
				display: inline;
				font: italic 300 18px/26px $font_family;
				color: #ffffff;
				vertical-align: bottom;
				@include mobile {
					font: italic 400 13px/20px $font_family;
				}
				@include squeezed {
					font: italic 400 13px/20px $font_family;
				}
			}
		}
	}
}

@include timeline;

.contacts-area {
	height:100vh;
	min-height: 480px;
	//Google Maps styling
	#contacts-map {
		height:100%;
		width: 100%;
	}
	.gm-style-iw * {
		display: block;
		width: 100%;
	}
	.gm-style-iw h4, .gm-style-iw p {
		margin: 0;
		padding: 0;
	}
	.gm-style-iw a {
		color: #4272db;
	}
	.contacts-window {
		position: relative;
		max-height: 450px;
		top: -50vh;
		left: 50%;
		margin: -241px 0 0 -380px;
		width: 380px;
		display: block;
		border: solid 1px #e6e6e6;
		border-radius: 2px;
		background-color: rgba(250,250,250,0.9);
		overflow: hidden;
		@include tablet {
			margin-left: -190px;
		}
		@include mobile {
			max-width: 100vw;
			left: 0;
			margin: -211px auto 0 auto;
			border: none;
		}
		@include squeezed {
			top: -480px;
			margin-top: 0;
		}

		.contacts-menu {
			ul {
				margin: 0 auto 32px auto;
				list-style-type: none;
				padding: 0;
				text-align: center;
				vertical-align: middle;
				li {
					@include clickable;
					display: inline-block;
					font-size: 24px;
					line-height: 30px;
					width: 30px;
					height: 30px;
					padding: 20px;
					color: #656565;
					border-bottom: solid 6px lighten(#656565, 25%);
					margin: 0 -2px;
					
					&.active {
						border-bottom: solid 6px #4479ac;
						background-color: #ffffff;
						color: darken(#4479ac, 10%);
						&:hover {
							border-bottom: solid 6px #4479ac;
							color: darken(#4479ac, 10%);
						}
					}

					&:hover {
						border-bottom: solid 6px #656565;
						background-color: #ffffff;
						color: darken(#656565, 10%);

					}
				}
			}
		}
		.contacts-panel {
			width: 1140px;
			@include mobile {
				width: 300vw;
				max-width: 1140px
			}
			.contacts-profile {
				width: 380px;
				display: inline-block;
				vertical-align: top;
				font: 500 16px $font_family;
				color: #656565;
				padding: 20px 0 0 115px;
				box-sizing: border-box;
				@include mobile {
					max-width: 380px;
					width: 100vw;
					padding: 20px 0 0 85px;
				}
				.profile-entry{
					margin-bottom: 10px;
					p {
						margin: 0 auto;
					}
				}
				#profile-name {
					font: 600 16px $font_family;
				}
				#profile-address{
					&:before {
						font-family: 'entypo';
						content: '\e954';
						margin-left: -26px;
						margin-right: 9px;
						vertical-align: middle;
					}
				}
				#profile-mobile{
					&:before {
						font-family: 'entypo';
						content: '\ea2b';
						margin-left: -26px;
						margin-right: 10px;
						vertical-align: middle;
					}
				}
				#profile-skype{
					&:before {
						font-family: 'FontAwesome';
						content: '\f17e';
						margin-left: -25px;
						margin-right: 13px;
						vertical-align: middle;
					}
				}
				#profile-gmail{
					i {
						vertical-align: middle;
					}
					&:before {
						font-family: 'FontAwesome';
						content: '\f0d5';
						margin-left: -26px;
						margin-right: 8px;
						vertical-align: middle;
					}
				}
			}
			.contacts-email {
				width: 380px;
				display: inline-block;
				@include mobile {
					max-width: 380px;
					width: 100vw;
				}
				#contact-form {
					display: inline-block;
					padding: 0 20px 20px;
					.contact-message {
						font: 500 16px $font_family;
						margin-bottom: 10px;
						color: #656565;
					}
					.contact-textfield {
						display: inline-block;
						font: 400 12px $font_family;
						margin-bottom: 8px;
						width: 100%;
						height: 30px;
						border: solid 1px #e0e0e0;
						box-sizing: border-box;
						padding: 0 12px;
					}
					.contact-textfield-validated {
						@include keyframes('flash') {
							from {background-color: #e89696;}
							to {background-color: #ffffff;}
						}
						@include animation(flash linear 400ms);
					}
					#name-textfield {
						@extend .contact-textfield;
						@include placeholder-icon {
							font-family: 'entypo';
							content: '\ea91';
							margin-right: 6px;
						}
						&.contact-textfield-validated {
							border: 1px solid #d12e2e;
						}
					}
					#email-textfield {
						@extend .contact-textfield;
						@include placeholder-icon {
							font-family: 'entypo';
							content: '\e9d5';
							margin-right: 6px;
						}
						&.contact-textfield-validated {
							border: 1px solid #d12e2e;
						}
					}
					#subject-textfield {
						@extend .contact-textfield;
						@include placeholder-icon {
							font-family: 'entypo';
							content: '\e97d';
							margin-right: 6px;
						}
					}
					#contact-textarea {
						display: inline-block;
						font: 400 12px $font_family;
						margin-bottom: 10px;
						width: 100%;
						resize: none;
						border: solid 1px #e0e0e0;
						box-sizing: border-box;
						padding: 12px;
						@include placeholder-icon {
							font-family: 'entypo';
							content: '\ea3e';
							margin-right: 6px;
						}
					}
					#contact-submit {
						font: 300 14px/18px $font_family;
						color: darken(#ffffff, 10%);
						background-color: lighten(#4479ac, 10%);
						border: none;
						padding: 6px 12px;
						float: right;
						@include clickable;
						&:hover {
							background-color: #4479ac;
							color: #ffffff;
						}
						&[disabled="disabled"] {
							background-color: lighten(#4479ac, 30%);
							&:hover {
								background-color: lighten(#4479ac, 30%);
								color: darken(#ffffff, 10%);
							}
						}
					}
				}
				.email-success {
					display:none;
					padding: 20px;
					.email-success-icon {
						margin-bottom: 20px;
						i {
							font-size: 32px;
							line-height: 60px;
							color: #25a750;
							display: block;
							background-color: #c0f1d1;
							border-radius: 31px;
							width: 60px;
							height: 60px;
							text-align: center;
							margin: 0 auto;
						}
					}
					.email-success-message {
						font: 300 16px/16px $font_family;
						color: #656565;
						p {
							margin: 10px auto;
						}
					}
					#email-success-write-again {
						font: 300 14px/18px $font_family;
						color: darken(#ffffff, 10%);
						background-color: lighten(#4479ac, 10%);
						border: none;
						padding: 6px 12px;
						margin-bottom: 20px;
						float: right;
						@include clickable;
						&:hover {
							background-color: #4479ac;
							color: #ffffff;
						}
					}
				}
				.email-error {
					display:none;
					padding: 20px;
					.email-error-icon {
						margin-bottom: 20px;
						i {
							font-size: 32px;
							line-height: 60px;
							color: #a72525;
							display: block;
							background-color: #f1c0c0;
							border-radius: 31px;
							width: 60px;
							height: 60px;
							text-align: center;
							margin: 0 auto;
						}
					}
					.email-error-message {
						font: 300 16px/16px $font_family;
						color: #656565;
						p {
							margin: 10px auto;
						}
						margin-bottom: 20px;
					}
					#email-error-try-again {
						font: 300 14px/18px $font_family;
						color: darken(#ffffff, 10%);
						background-color: lighten(#4479ac, 10%);
						border: none;
						padding: 6px 12px;
						margin-bottom: 20px;
						float: right;
						@include clickable;
						&:hover {
							background-color: #4479ac;
							color: #ffffff;
						}
					}
				}
			}
			.contacts-social-media {
				width:380px;
				display: inline-block;
				vertical-align: top;
				@include mobile {
					max-width: 380px;
					width: 100vw;
				}
				.social-media-message {
					padding: 0 80px;
					font: 500 16px $font_family;
					margin: 20px 0 10px;
					color: #656565;
				}
				.social-media-wrapper {
					width: 100%;
					height: 100%;
					padding: 0 65px;
					box-sizing: border-box;
					.social-media-button .fa {
						@include clickable;
						width: 30px;
						height: 30px;
						margin: 12px;
						padding: 11px;
						border-radius: 26px;
						display: inline-block;
						font-size: 28px;
						line-height: 30px;
						text-align: center;
						color: #e6e6e6;
						background-color: #656565;
						@include transition(color 1s ease-out, text-shadow 1s ease-out);
						&:hover {
							@include transition(none);
						}
					}
					.fa-twitter {
						&:hover {
							color: #2e99ea;
							text-shadow: 2px 2px 1px #111111;
						}
					}

					.fa-codepen {
						&:hover {
							color: #ffffff;
							text-shadow: 2px 2px 1px #111111;
						}
					}

					.fa-linkedin {
						&:hover {
							color: #39f;
							text-shadow: 2px 2px 1px #111111;
						}
					}

					.fa-github {
						&:hover {
							color: #eb4747;
							text-shadow: 2px 2px 1px #111111;
						}
					}

					.fa-bitbucket {
						&:hover {
							color: #80bfff;
							text-shadow: 2px 2px 1px #111111;
						}
					}
				}
			}
		}
	}
}

.footer {
	height: 30px;
	width: 100%;
	background-color: #fafafa;
	position: relative;
	margin-top: -30px;
	div {
		color: #bababa;
		font: 100 12px/30px $font_family;
		margin-left: 20px;
		@include mobile {
			font: 300 10px/30px $font_family;
		}
	}
}
